html, 
body {
  height: 100%;
}

body {
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-small {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  color: #7b7b7b;
  font-size: 14px;
  line-height: 26px;
  @extend %rubik-400;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  &__list {
    display: flex;
  }
  &__item {
    color: rgba(34, 41, 51, 0.6);
    font-size: 14px;
    @extend %rubik-400;
    padding-right: 20px;
    position: relative;
    &::after {
      content: '/';
      position: absolute;
      right: 10px;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  &__list {
    display: flex;
  }
  &__item {
    padding: 12px 20px;
    border: 1px solid $gray;
    cursor: pointer;
    transition: all .3s;
    & + .pagination__item {
      margin-left: 15px;
    }
    &:hover {
      background-color: $gray;
      .pagination__link {
        color: #fff;
      }
    }
  }
  &__link {
    color: $title-gray;
  }
  &__item--active {
    background-color: $gray;
    .pagination__link {
      color: #fff;
    }
  }
}

