@media (max-width: 1600px) {
  .show-inner {
    &__item {
      padding-right: 45px;
    }
  }
}

@media (max-width: 1400px) {
  .show-inner {
    &__item {
      padding-bottom: 70px;
    }
    &__img {
      max-width: 30%;
      left: 0;
    }
  }
}

@media (max-width: 1230px) {
  .top-slider {
    &__content {
      margin-left: 15px;
      padding-top: 140px;
    }
    &__img {
      width: 50%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1200px) {
  .products-week {
    &__items {
      grid-template-columns: repeat(3,1fr);
      justify-items: center;
      grid-gap: 30px 20px;
    }
    &__item {
      width: 90%;
    }
  }
  .show-inner {
    &__info {
      max-width: 280px;
    }
  }
  .new-design {
    &__items {
      padding: 0 15px;
      grid-gap: 20px;
    }
    &__item {
      max-width: 100%;  
    }
  }
  .footer-top {
    padding: 95px 15px 75px;
  }
  .footer-bottom {
    padding: 35px 15px;
  }
  .blog {
    &__items {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }
    &__item-box {
      padding: 23px;
    }
  }
  .about {
    &__inner {
      padding: 0 15px;
    }
    &__img {
      object-fit: contain;
      max-width: 50%;
    }
    &__num-figure {
    font-size: 120px;
    line-height: 1.3;
    }
  }
  .team {
    &__inner {
      padding: 0 15px;
    }
    &__info {
      padding-right: 10px;
    }
  }
  .recent-posts {
    display: none;
  }
  .blog-page {
    .filter-category {
      display: none;
    }
    &__inner {
      flex-direction: column;
      padding: 0 15px;
    }
    &__content {
      width: 100%;
      margin-right: 0;
    }
    &__img-box {
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__aside {
      width: 100%;
      order: -1;
    }
    .filter-search {
      &__input {
        width: 50%;
      }
    }
  }
  .contact-us {
    padding: 80px 15px 0;
    .contact-form {
      &__box {
        display: block;
      }
    }
    .comments-form {
      &__input {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 1080px) {
  .menu {
    &__list {
      transform: translateY(-200%);
      position: absolute;
      top: 160px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
      background-color: #fff;
      padding: 30px 15px;
      &.menu__list--active {
        transform: translateY(0);
        transition: all .3s;
      }
    }
    &__list-item {
      width: 100%;
      text-align: center;
    }
    &__list-item +.menu__list-item {
    padding-left: 0;
    }
    &__list-link {
      padding: 12px 0;
      display: block;
      &:hover {
        background-color: $light-gray;
      }
    }
  }
  .footer-top {
    flex-wrap: wrap;
    &__item-form {
      max-width: 100%;
    }
    &__text {
      width: 100%;
    }
  }
  .benefits {
    &__item {
      display: block;
      text-align: center;
    }
  }
  .products-week {
    &__items {
      grid-template-columns: repeat(2,1fr);
    }
  }
  .show-inner {
    &__item {
      padding-right: 30px;
    }
    &__img {
      top: -80px;
    }
    &__info {
      max-width: 250px;
    }
  }
  .new-design {
    padding: 80px 0 60px;
    &__item {
      background-position: top right 90%;
    }
  }
  .blog {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      max-width: 100%;
    }
    &__item-imglink {
      img {
        width: 100%;
      }
    }
    &__item-text {
      max-width: 100%;
    }
  }
  .about {
    padding: 60px 0;
    &__item {
      margin: 20px 10px ;
    }
    &__info {
      padding-bottom: 0;
      padding-left: 15px;
    }
    &__num {
      margin-bottom: 0;
    }
    &__text {
      margin-bottom: 10px;
    }
  }
  .team {
    padding-top: 60px;
  }
  .team-content {
    grid-gap: 20px;
    &__img {
      height: 100%;
    }
    &__box {
      transform: translateY(-100%);
    }
  }
}

@media (max-width: 960px) {
  .top-slider {
    &__inner {
      padding-bottom: 25px;
    }
    &__content {
      padding-top: 80px;
    }
    &__img {
      width: 40%;
    }
    &__title {
      max-width: 380px;
      font-size: 56px;
      line-height: 68px;
      margin-bottom: 30px;
    }
    &__text {
      margin-bottom: 20px;
    }
  }
  .show {
    padding-top: 0;
  }
  .show-inner {
    padding-top: 50px;
    grid-template-columns: repeat(1, 1fr);
    &__img {
      position: relative;
      top: 0;
    }
    &__item {
      justify-content: space-around;
    }
    &__info {
      max-width: 50%;
    }
  }
  .new-design {
    &__filter {
      margin-bottom: 60px;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .about {
    &__num-figure {
      font-size: 100px;
      line-height: 1.5;
    }
    &__title {
      margin-bottom: 10px;
    }
  }
  .about-benefits {
    padding: 60px 0 30px;
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    &__item {
      margin-bottom: 30px;
    }
  }
  .team {
    &__inner {
      display: block;
    }
    &__info {
      max-width: 100%;
      margin-bottom: 40px;
    }
  }
  .team-content {
    grid-gap: 30px 20px;
    &__item {
      max-width: 100%;
    }
    &__img {
      width: 100%;
    }
  }
  .contacts {
    &__item {
      padding: 150px 25px 50px;
    }
  }
  .contact-us {
    display: block;
    .contact-form {
      width: 100%;
      margin-bottom: 30px;
    }
    #map {
    width: 100%; 
    }
  }
}

@media (max-width: 890px) {
  .about {
    &__num-figure {
      font-size: 58px;
      line-height: 1;
    }
    &__num-text {
      max-width: 100%;
    }
  }
  .blog-one {
    .comments-reply {
      &.comments {
        max-width: 600px;
      }
      .comments__img {
        display: none;
      }
    }
  }
}

@media (max-width: 840px) {
  .partners {
    &__list {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 45px;
      height: auto;
    }
    &__item {
      margin: 10px 35px 20px;
    }
  }
  .about {
    &__img {
      display: none;
    }
  }
  .blog-one {
    .comments {
      &.comments-reply {
        max-width: 500px;
      }
    }
    .comments-form {
      &__box {
        display: block;
        margin-bottom: 0;
      }
      &__input {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 700px) {
  .footer-top {
    padding: 95px 15px 45px;
    &__item {
      padding: 15px 0;
    }
    &__contact {
      width: 100%;
    }
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    &__nav {
      margin-top: 15px;
    }
  }
  .top-slider {
    &__inner {
      padding-bottom: 40px;
    }
    &__item {
      .top-slider__img {
        display: none;
      }
    }
    .slick-dots {
      transform: translateY(20px);
    }
  }
  .benefits {
    &__inner {
      display: block;
    }
    &__item {
      width: 100%;
    }
    &__info {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
  .products-week {
    &__filter {
      margin-bottom: 50px;
    }
    &__btn {
      margin-right: 20px;
    }
    &__items {
      grid-template-columns: repeat(1,1fr);
      grid-gap: 40px 0;
    }
  }
  .new-design {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      height: 340px;
      background-position: center center;
    }
    &__btn {
      margin-right: 20px;
    }
  }
  .video-popup {
    height: 450px;
  }
  .blog {
    padding-top: 60px;
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
    &__top {
      display: block;
      text-align: center;
    }
    &__link {
      display: block;
      margin-bottom: 30px;
      &::after {
        right: auto;
        margin-left: 20px;
      }
    }
  }
  .partners {
    &__item {
      margin: 10px 20px;
    }
  }
  .team-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-page {
    padding: 60px 0;
    &__img-box {
      height: 280px;
      img {
        height: 280px;
      }
    }
    &__content {
      .pagination {
      padding: 30px 0 40px;
      }
    }
    .filter-search {
      &__input {
        width: 100%;
      }
    }
  }
  .blog-one {
    .comments {
      &.comments-reply {
        max-width: 350px;
      }
    }
    &__text {
      h3 {
        line-height: 48px;
      }
    }
  }
  .contacts {
    &__list {
      display: block;
    }
    &__item {
      width: 100%;
      text-align: center;
      padding: 110px 25px 30px;
    }
    &__item--address {
      background-position: top 35px center;
    }
    &__item--email {
      background-position: top -35px center;
      border: none;
    }
    &__item-phone {
      background-position: top 36px center;
    }
  }
}


@media (max-width: 580px) {
  .partners-short {
    &.partners {
      margin-top: -70px;
      padding-top: 40px;
      height: auto;
    }
    .partners__list {
      padding-top: 0;
      height: auto;
    }
  }
  .blog-one {
    .comments-form {
      padding-bottom: 40px;
    }
  }
}

@media (max-width: 520px) {
  .user-nav {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }
  .video-popup {
    height: 350px;
  }
  .partners {
    margin-top: -144px;
    padding-top: 100px;
  }
  .partners-short {
    &.partners {
      padding-top: 12px;
      padding-bottom: 15px;
    }
  }
  .team-content {
    &__item {
      height: 260px;
    }
    &__box {
      padding: 15px;
      width: 280px;
    }
    &__img {
      object-fit: contain;
    }
  }
  .blog-one {
    &__author-img {
      display: none;
    }
    .comments {
      &__img {
        display: none;
      }
    }
  }
}

@media (max-width: 460px) {
  .footer-top {
    padding-top: 40px;
    &__form-input{
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .footer-bottom {
    &__copy {
      font-size: 12px;
    }
  }
  .top-slider {
    &__btn {
      padding: 12px 100px 12px 22px;
    }
    &__content {
      padding-top: 60px;
    }
  }
  .products-week {
    padding-bottom: 40px;
    &__filter {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__btn {
      margin-bottom: 25px;
    }
  }
  .show-inner {
    padding-top: 20px;
    &__item {
      padding-top: 60px;
    }
    &__btn {
      padding-right: 50px;
    }
  }
  .new-design {
    &__filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
    &__btn {
      margin-bottom: 25px;
    }
    &__item {
      background-position: bottom -30px right 30%;
    }
  }
  .about-benefits {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .blog-one {
    .comments-form {
      &__input {
        width: 100%;
      }
    }
    &__author {
      display: block;
      margin-bottom: 40px;
    }
    &__author-info {
      margin-bottom: 25px;
    }
    .comments {
      &.comments-reply {
        max-width: 250px;
      }
      &__content-top {
        display: block;
      }
    }
  }
  
}

@media (max-width: 375px) {
  .top-slider {
    &__title {
      font-size: 48px;
      line-height: 56px;
    }
  }
  .show-inner {
    &__btn {
      background-image: none;
      padding: 18px 25px;
    }
  }
  .blog {
    &__item-info {
      display: block;
    }
    &__item-date {
      margin-top: 10px;
    }
    &__item-author {
      margin-left: 0;
    }
  }
  .partners {
    margin-top: -60px;
    padding-top: 20px;
  }
  .authorization__check {
    display: block;
    text-align: center;
  }
  .about {
    &__item {
      margin: 25px 10px;
    }
    &__num-text {
      margin-left: 15px;
    }
  }
}
