$default: #262626;
$title: #191919;
$title-gray: #243f4d;
$pink: #fcd7b6;
$pale-pink: #fef7f0;
$gray: #a3bbc8;
$light-gray: rgba(163, 187, 200, 0.2);

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%btn {
  border: none;
  padding: 15px 30px;
  background-color: $gray;
  color: #fff;
  text-transform: uppercase;
}

%btn-gray {
  background-color: $gray;
  color: #fff;
  font-size: 15px;
  background-image: url('../images/icons/white-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 18px center;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}