@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.title {
  font-size: 36px;
  @extend %dmsans-700;
  color: $title;
  margin-bottom: 40px;
  text-align: center;
}

.header {
  padding: 48px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item +.menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    color: #436372;
    @extend %rubik-500;
    font-size: 15px;
  }
}

.user-nav {
  display: flex;
  &__links {
    display: flex;
    align-items: center;
    padding: 0 40px;
    background-color: $pink;
    border-radius: 30px;
  }
  &__search {
    padding-right: 25px;
  }
  &__link {
    position: relative;
  }
  &__link +.user-nav__link {
    padding-left: 50px;
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
  }
  &__bento {
    padding-left: 20px;
  }
}

.main {
  flex-grow: 1;
}

.top {
  padding: 30px 0;
  text-align: center;
  background-color: rgba(163, 187, 200, 0.2);
  &__title {
    margin-bottom: 10px;
  }
}

.top-slider {
  &__inner {
    background-color: $pink;
    padding-bottom: 45px;
  }
  &__item {
    display: flex !important;
    justify-content: space-evenly;
  }
  &__content {
    padding-top: 210px;
    //margin-right: 120px;
  }
  &__title {
    max-width: 420px;
    font-size: 72px;
    line-height: 70px;
    @extend %rubik-500;
    color: $title-gray;
    margin-bottom: 35px;
  }
  &__text {
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__btn {
    padding: 18px 100px 18px 22px;
    @extend %btn-gray;
  }
  &__img {
    margin-top: 90px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      padding: 0 5px;
      button {
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border: 1px solid #fde3cc;
        border-radius: 50%;
        font-size: 10px;
        color: $title-gray;
        opacity: 0.6;
      }
      &.slick-active {
        button {
        border: 1px solid #fff;
        background-color: #fff;
        opacity: 1;
        }
      }
    }
  }
}

.benefits {
  &__inner {
    background-color: $pale-pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px 0;
  }
  &__item {
    display: flex;
  }
  &__info {
    max-width: 220px;
    margin-left: 25px;
  }
  &__info-title {
    color: #414141;
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
  }
  &__info-text {
    color: #585858;
  }
}

.show {
  padding: 40px 0 20px;
}

.show-inner {
  padding: 100px 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  &__item {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 100px 130px 100px 0;
    background-color: #feefe2;
  }
  &__img {
    position: absolute;
    top: -100px;
    left: 130px;
  }
  &__info {
    display: block;
    max-width: 340px;
    color: $title-gray;
    margin-left: 235px;
  }
  &__title {
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__btn {
    padding: 18px 100px 18px 22px;
    background-color: transparent;
    border: 1px solid $title-gray;
    font-size: 15px;
    color: $title-gray;
    background-image: url('../images/icons/black-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 18px center;
  }
}

.video-popup {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-week {
  padding: 70px 0 75px;
  &__filter {
    margin-bottom: 80px;
    text-align: center;
  }
  &__btn {
    margin-right: 30px;
    border: none;
    background-color: transparent;
    @extend %dmsans-700;
    color: $gray;
    cursor: pointer;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
  }
  &__item-star,
  &__item-textbox {
    display: none;
  }
  &__item {
    width: 270px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;
    padding-bottom: 40px;
    &.products-week__item--list {
      min-width: 100%;
      display: flex;
      text-align: left;
      box-shadow: none;
      padding-bottom: 0;
      &.item-grid {
        margin-bottom: 20px;
      }
      .products-week__link-box {
        display: none;
      }
      .products-week__img-box {
        height: 500px;
        min-width: 370px;
        padding: 70px 60px;
        border: 1px solid #f2f2f2;
        margin-right: 60px;
        img{
          margin: 0;
          width: 250px;
        }
      }
      .products-week__item-title {
        font-size: 40px;
        color: #333333;
        margin-bottom: 20px;
      }
      .products-week__item-star,
      .products-week__item-textbox {
        display: block;
      }
      .products-week__item-star {
        margin-bottom: 35px;
      }
      .products-week__item-price {
        font-size: 30px;
        color: #333333;
        margin-bottom: 35px;
      }
      .products-week__item-text {
        color: $title-gray;
        margin-bottom: 35px;
      }
      .products-week__item-link {
        display: inline-block;
        padding: 12px 16px;
        line-height: 1;
      }
      .products-week__item-cart {
        background-color: $gray;
        path {
          fill: #fff;
        }

      }
    }
  }
  &__item:hover {
    .products-week__link-box {
      transform: translateY(0);
    }
  }
  &__img-box {
    position: relative;
    height: 240px;
    overflow: hidden;
  }
  &__images {
    object-fit: cover;
    margin: 25px auto 20px;
  }
  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    display: flex;
    justify-content: center;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__link {
    width: 45px;
    height: 45px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    path {
      transition: all .3s;
    }
  }
  &__link:hover {
    background-color: $gray;
    path {
      fill: #fff;
    }
  }
  &__link-mid {
    margin-left: 16px;
    margin-right: 16px;
  }
  &__item-title {
    margin-top: 60px;
    margin-bottom: 15px;
    @extend %dmsans-500;
    color: $title-gray;
  }
  &__item-price {
    color: $gray;
    @extend %dmsans-700;
  }
}

.new-design {
  padding: 95px 0 115px;
  &__filter {
    margin-bottom: 80px;
    text-align: center;
  }
  &__btn {
    margin-right: 30px;
    border: none;
    background-color: transparent;
    @extend %dmsans-700;
    color: $gray;
    cursor: pointer;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
  &__item {
    display: block;
    max-width: 370px;
    height: 246px;
    padding: 40px 0 40px 35px;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  &__title {
    font-size: 20px;
    @extend %dmsans-700;
    color: $title;
    max-width: 175px;
    margin-bottom: 15px;
  }
  &__subtitle {
    color: $gray;
    @extend %dmsans-700;
  }
}

.mixitup-control-active {
  color: $title-gray;
}

.blog {
  padding: 110px 30px 0;
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    @extend %dmsans-700;
    cursor: pointer;
    position: relative;
    padding-right: 25px;
    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-right.svg');
      width: 6px;
      height: 11px;
      top: 8px;
      right: 0;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
  }
  &__item-imglink {
    display: block;
    position: relative;
    img {
      height: 250px;
      object-fit: cover;
    }
    &::after {
      content: 'NEWS';
      position: absolute;
      width: 103px;
      height: 30px;
      background-color: $gray;
      color: #fff;
      border-radius: 25px;
      padding: 10px 30px;
      line-height: 0.8;
      bottom: -15px;
      left: 28px;
      font-size: 14px;
      @extend %dmsans-700;
    }
  }
  &__item-box {
    padding: 38px 30px;
  }
  &__item-text {
    display: block;
    font-size: 18px;
    @extend %dmsans-500;
    color: $default;
    margin-bottom: 20px;
    max-width: 285px;
  }
  &__item-info {
    display: flex;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
  }
  &__item-date,
  &__item-author {
    font-size: 12px;
    color: $default;
    text-transform: uppercase;
    background-repeat: no-repeat;
    padding-left: 30px;
  }
  &__item-date {
    background-image: url('../images/icons/time.svg');
  }
  &__item-author {
    margin-left: 30px;
    background-image: url('../images/icons/user-gray.svg');
  }
  
}

.partners {
  margin-top: -211px;
  height: 435px;
  padding-top: 185px;
  background-color: $pale-pink;
  &__list {
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.partners-short {
  margin-top: 0;
  padding-top: 0;
  height: 250px;
}

.authorization {
  padding-top: 115px;
  &__inner {
  max-width: 470px;
  margin: 0 auto 120px;
  }
  &__label {
    margin-bottom: 25px;
    display: block;
    font-size: 14px;
    color: #436372;
  }
  &__input {
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    height: 56px;
    margin-top: 10px;
    padding: 0 15px;
  }
  &__btn {
    display: block;
    width: 100%;
    background-color: $gray;
    color: #fff;
    font-size: 18px;
    @extend %rubik-500;
    border: none;
    padding: 15px 0;
    cursor: pointer;
    margin-bottom: 30px;
  }
  &__check {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 30px;
  }
  &__error {
    color: inherit;
  }
  &__inner-text {
      text-align: center;
      color: #436372;
      font-size: 14px;
      margin-bottom: 25px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    border: 2px solid $gray;
    padding: 20px 0;
    @extend %rubik-500;
    font-size: 18px;
    color: $title-gray;
  }
}

.about {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    object-fit: cover;
  }
  &__info {
    padding: 80px 0 85px 40px;
  }
  &__num {
    margin-bottom: 40px;
    display: flex;
  }
  &__num-figure {
    @extend %dmsans-700;
    font-size: 140px;
    line-height: 1;
    color: $gray;
  }
  &__num-text {
    max-width: 100px;
    color: $title-gray;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 30px;
  }
  &__title {
    text-align: left;
  }
  &__text {
    margin-bottom: 65px;
  }
  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    border-top: 1px solid #e6eaf0;
  }
  &__item {
    width: 145px;
    height: 60px;
    position: relative;
    padding-left: 55px;
    &::before {
      content: '';
      position: absolute;
      width: 42px;
      height: 40px;
      top: 9px;
      left: 0;
      background-repeat: no-repeat;
    }
    span {
      color: #4c4c4c;
      @extend %dmsans-700;
    }
  }
  &__item--projects::before {
    background-image: url('../images/icons/project.svg');
  }
  &__item--revenue::before {
    background-image: url('../images/icons/revenue.svg');
  }
  &__item--awards::before {
    background-image: url('../images/icons/award.svg');
  }
  &__item-num {
    @extend %dmsans-700;
    font-size: 36px;
    color: $title-gray;
    margin-bottom: 13px;
  }
}

.about-benefits {
  background-color: $pink;
  padding: 80px 0;
  @extend %dmsans-700;
  color: $title-gray;
  &__items {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  &__item {
    width: 195px;
    text-align: center;
    span {
      font-size: 18px;
    }
  }
  &__img {
    margin: 0 auto 20px;
  }
  &__num {
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 25px;
  }
  
}

.team {
  padding: 120px 0 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 300px; 
  }
  &__title {
    text-align: left;
  }
  &__info-link {
    display: block;
    margin-top: 38px;
    width: 170px;
    padding: 15px 55px 15px 15px;
    @extend %btn-gray;
  }
}

.team-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px 35px;
  &__item {
    height: 380px;
    max-width: 370px;
  }
  &__img {
      height: 320px;
    }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 20px 30px;
    background-color: #fff;
    width: 325px;
    transform: translateY(-50%);
  }
  &__textbox {
    span {
    color: #565872;
    }
  }
  &__title {
    font-size: 22px;
    @extend %dmsans-700;
    color: #436372;
    margin-bottom: 10px;
  }
  &__linkbox {
    display: flex;
    align-items: center;
  }
  &__link {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.shop {
  padding: 60px 0 120px;
  &__inner {
    display: flex;
  }
  &__filters {
    width: 270px;
    margin-right: 60px;
  }
}

.filter {
  &__item {
    padding: 15px 0 30px;
    margin-bottom: 15px;
  }
  &__title-wrap {
    position: relative;
    display: inline-block;
    padding-right: 60px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 18px;
    @extend %dmsans-700;
    color: $title-gray;
    margin-bottom: 30px;
  }
  &__title-decor {
    position: absolute;
    width: 39px;
    height: 3px;
    background-color: #a3bbc8;
    top: 11px;
    right: 0;
  }
  
}

.filter-category {
  &__label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
  }
  &__input {
    @extend %checkbox-hidden;
    color: $title-gray;
    &:checked + .filter-category__checkbox {
      background-color: $light-gray;
    }
  }
  &__checkbox {
    background-image: url('../images/icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right 22px center;
    padding: 15px 0 15px 15px;
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}

.irs--flat {
  height: 30px;
}

.irs--flat .irs-line {
  top: 6px;
  height: 3px;
  color: rgba(163, 187, 200, 0.7);
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 0;
  width: 16px;
  height: 16px;
  background-color: $gray;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max,
.irs--flat .irs-from, 
.irs--flat .irs-to {
  display: none;
}

.irs--flat .irs-bar {
    top: 6px;
    height: 4px;
    background-color: $gray;
}

.filter-brand {
  &__label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: $light-gray;
      span {
        color: $title-gray;
      }
    }
  }
  &__checkbox {
    color: $title-gray;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    span:nth-child(2) {
      color: #b3b3b3;
    }
  }
}

.filter-recent {
  &__item {
    display: flex;
    margin-bottom: 25px;
  }
  &__link {
    display: block;
    padding: 4px;
    border: 1px solid $light-gray;
    img {
      height: 70px;
      width: 70px;
      object-fit: contain;
    }
  }
  &__info {
    margin-left: 20px;
    padding: 5px 0;
    color: #333333;
  }
  &__info-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__price {
    font-size: 15px;
    margin-top: 10px;
  }
}

.star {
  margin: 0 0 0 -8px;
}

.shop-content {
  width: 100%;
  &__filter {
    margin-bottom: 40px;
  }
  &__filter-buttons {
    display: flex;
    justify-content: flex-end;
  }
  &__filter-btn {
    margin-left: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
    outline: none;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
  }
}

.item-grid {
  margin-bottom: 35px;
}

.product-page {
  padding: 120px 0 0;
}
.product-one {
  &__inner {
    display: flex;
  }
  &__slide {
    width: 570px;
    margin-right: 70px;
  }
  &__content {
    width: 550px;
  }
  &__title {
    margin-bottom: 25px;
    color: #333333;
    font-size: 40px;
  }
  &__price {
    color: #333333;
    font-size: 30px;
    padding: 30px 0;
  }
  &__text {
    color: $title-gray;
    margin-bottom: 35px;
  }
  &__form {
    margin-bottom: 50px;
  }
  &__btn {
    margin-left: 15px;
    background-color: $gray;
    padding: 12px 50px;
    border-color: transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.product-slide {
  display: flex;
  .slick-vertical .slick-slide{
    height: 160px;
    margin-bottom: 25px;
  }
  &__thumb {
    width: 135px;
    margin-right: 30px;
  }
  &__thumb-item {
    width: 135px;
    height: 160px;
    cursor: pointer;
    border: 2px solid #f2f2f2;
    padding: 5px;
    img {
      max-width: 125px;
      max-height: 150px;
      margin: 0 auto;
      object-fit: cover;
    }
  }
  &__big {
    width: 400px;
    height: 530px;
    padding: 5px 40px;
    border: 2px solid #f2f2f2;
    img {
      max-height: 520px;
      max-width: 320px;
      object-fit: cover;
      margin: 0 auto;
    }
  }
}

.product-info {
  &__item {
    display: flex;
    color: $title-gray;
    a {
      color: inherit;
      font-size: inherit;
    }
  }
  &__title {
    margin-right: 5px;
  }
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__field {
    width: 114px;
    border: 1px solid $gray;
    transform: translateY(1px);
}

.jq-number__field input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    @extend %rubik-500;
    color: $title;
    text-align: center;
}

.jq-number__spin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.jq-number__spin.minus {
  left: 15px;
}

.jq-number__spin.plus {
  right: 15px;
}

.jq-number__spin::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    background-color: $title-gray;
    width: 12px;
    height: 1px;
}

.jq-number__spin.plus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    background-color: $title-gray;
    width: 1px;
    height: 12px;
}

.product-tabs {
  padding: 60px 0;
  &__top {
    margin-bottom: 35px;
    text-align: center;
  }
  &__top-item {
    display: inline-block;
    width: 241px;
    height: 53px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #edf1f4;
    border-radius: 5px;
    color: $title-gray;
    font-size: 18px;
    line-height: 28px;
    @extend %rubik-500;
    & + .product-tabs__top-item {
      margin-left: 20px;
    }
  }
  &__top-item--active {
    background-color: $gray;
    color: #fff;
  }
  &__content-item {
    display: none;
    &.product-tabs__content-item--active {
      display: block;
    }
  }
}

.related {
  padding: 60px 0;
  &__top {
    display: flex;
  }
}

.related-slider {
  margin-top: 20px;
  &__item-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  .slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -105px;
  right: 0;
  }
  .slick-prev {
    right: 60px;
  }
}

.blog-page {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 830px;
    margin-right: 30px;
  }
  &__aside {
    width: 270px;
  }
  &__item {
    margin-bottom: 50px;
  }
  &__img-box {
    width: 830px;
    height: 500px;
    margin-bottom: 40px;
    position: relative;
    img {
      width: 830px;
      height: 500px;
      object-fit: cover;
    }
  }
  .blog-box {
    padding: 22px 28px;
    background-color: $gray;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    &__date {
      padding-left: 20px;
      position: relative;
      margin-right: 20px;
      &::before {
        height: 12px;
        background-image: url('../images/icons/calendar.svg');
      }
    }
    &__date::before,
    &__author::before {
      content: '';
      position: absolute;
      width: 12px;
      left: 0;
      top: 5px;
    }
    &__author {
      padding-left: 20px;
      position: relative;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      &::before {
        height: 14px;
        background-image: url('../images/icons/user-solid.svg');
      }
    }
  }
  &__item-title {
    margin-bottom: 30px;
  }
  &__item-link {
    color: #333333;
    @extend %rubik-400;
    font-size: 36px;
  }
  &__item-text {
    margin-bottom: 40px;
  }
  &__item-btn {
    display: inline-block;
    padding: 18px 100px 18px 22px;
    background-color: transparent;
    border: 1px solid $gray;
    font-size: 15px;
    color: $gray;
    background-image: url('../images/icons/arrow-gray.svg');
    background-repeat: no-repeat;
    background-position: right 18px center;
  }
}

.filter-search {
  padding: 0 0 45px;
  &__form {
    display: flex;
  }
  &__input {
    border: 1px solid #edf1f4;
    height: 40px;
    padding: 0 5px 0 15px;

  }
  &__btn {
    border: none;
    background-color: #edf1f4;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.recent-posts {
  &__item {
    margin-bottom: 20px;
    display: flex;
  }
  &__img-link {
    display: block;
    margin-right: 20px;
    min-width: 71px;
  }
  &__img {
    width: 71px;
    height: 71px;
    object-fit: cover;
  }
  &__title-link {
    display: block;
    @extend %rubik-400;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  &__date {
    padding-left: 20px;
    position: relative;
    color: #9a9a9a;
    font-size: 12px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      background-image: url('../images/icons/calendar-gray.svg');
      width: 12px;
      height: 12px;
    }
  }
}

.blog-one {
  &__left-img {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  &__right-img {
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  &__text {
    border-bottom: 1px solid #ebebeb;
    h3 {
      color: #333333;
      font-size: 36px;
      margin-bottom: 30px;
    }
    h5 {
      color: $title-gray;
      @extend %dmsans-700;
      font-size: 16px;
      margin-bottom: 30px;
    }
    h4 {
      color: $title-gray;
      font-size: 18px;
      @extend %dmsans-700;
      margin: 60px 0 35px;
    }
    p {
      margin-bottom: 45px;
    }
    blockquote {
      background-color: #edf1f4;
      padding: 20px 30px;
      border-left: 5px solid #a3bbc8;
      color: $title-gray;
      @extend %rubik-500;
      margin-bottom: 40px;
      span {
        display: block;
        position: relative;
        padding-left: 45px;
        margin-top: 22px;
        &::before {
          content: '';
          position: absolute;
          width: 20px;
          height: 4px;
          background-color: #a3bbc8;
          top: 10px;
          left: 0;
        }
      }
    }
  }
  &__author {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 60px;
  }
  &__author-info {
    display: flex;
    align-items: center;
    h5 {
      font-size: 18px;
      @extend %dmsans-700;
      color: #333333;
      margin-bottom: 15px;
    }
    p {
      color: #666666;
    }
  }
  &__author-img {
    width: 76px;
    height: 76px;
    margin-right: 27px;
    object-fit: cover;
  }
}

.author-links {
  &__item {
    display: flex;
    margin-bottom: 10px;
  }
  &__title {
    color: #333333;
    margin-right: 20px;
  }
  &__link {
    & + .author-links__link {
      margin-left: 15px;
    }
  }
}

.comments-title {
  @extend %dmsans-700;
  font-size: 24px;
  color: #436372;
  margin-bottom: 60px;
}

.comments {
  display: flex;
  margin-bottom: 30px;
  &.comments-reply {
    max-width: 740px;
    margin-left: auto;
  }
  &.comments-noborder {
    .comments__content {
      border-bottom: none;
    }
  }
  &__img {
    margin-right: 30px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
  }
  &__content {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
  }
  &__content-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__content-name {
    @extend %dmsans-700;
    color: #436372;
  }
  &__content-date {
    font-size: 14px;
    color: #436372;
  }
  &__content-text {
    margin-bottom: 25px;
  }
  &__content-reply {
    color: #436372;
    font-size: 14px;
    padding-right: 18px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 12px;
      background-image: url('../images/icons/reply.svg');
      top: 2px;
      right: 0;
    }
  }
}

.comments-form {
  padding-top: 60px;
  &__title {
  @extend %dmsans-700;
  font-size: 24px;
  color: #436372;
  margin-bottom: 45px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__input {
    width: 400px;
    height: 50px;
    display: inline-block;
    padding: 15px 35px 15px 20px;
    border: 1px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position: center right 20px;
    &:hover {
      border-color: $gray;
      &::placeholder {
        color: #333333;
      }
    }
  }
  &__input--name {
    background-image: url('../images/icons/user-form.svg');
  }
  &__input--email {
    background-image: url('../images/icons/email-form.svg');
  }
  &__box-textarea {
    display: block;
    padding: 15px 20px;
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 116px;
    resize: none;
    margin-bottom: 40px;
    background-image: url('../images/icons/comment.svg');
    background-repeat: no-repeat;
    background-position: top 15px right 20px;
  }
  &__box-btn {
    border: none;
    padding: 15px 30px;
    background-color: $gray;
    color: #fff;
    text-transform: uppercase;
  }
}



.footer-top {
  padding: 95px 0 75px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  &__contact,
  &__nav {
    width: 220px;
  }
  &__item-form {
    max-width: 350px;
  }
  &__logo {
    display: block;
    margin-bottom: 30px;
  }
  &__address,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 15px;
  }
  &__title {
    margin-bottom: 30px;
    @extend %dmsans-700;
    color: #1f2044;
    text-transform: uppercase;
    font-size: 16px;
  }
  &__list-link {
    display: block;
    margin-bottom: 15px;
  }
  &__text {
    width: 270px;
    margin-bottom: 48px;
    color: #7b7b7b;
    font-size: 14px;
  }
  &__form-input {
    background-color: $pale-pink;
    border: none;
    padding: 10px;
    outline-color: $pink;
    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn {
    background-color: $gray;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  &__copy {
    color: #7b7b7b;
    font-size: 14px;
  }
  &__list {
    display: flex;
  }
  &__list-item {
    padding: 0 15px;
    border-right: 1px solid #7b7b7b;
    &:last-child {
      padding-right: 0;
      border: none;
    }
  }
}







@import 'media';